<!DOCTYPE html>
<html>
<head>
    <title>Autocorrect System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Autosuggest.ai</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
      </nav>
      <div class="container shadow">
        <h2 class='text-center'>About the Project</h2>
        <p>This project is a Flask web application that provides autocorrection suggestions based on a predefined dictionary of words.</p>
        <p>The autocorrection algorithm calculates the similarity between the input word and the words in the dictionary using the Jaccard distance, and suggests the most similar words.</p>
        <p>The application uses Flask, a Python web framework, to handle HTTP requests and render HTML templates.</p>
        <p>Feel free to try it out by entering a word in the search box on the home page!</p>
        <p>If you have any questions or feedback, please don't hesitate to contact us me</p>
        <button class='btn btn-success' > <a  style = 'color:white;' target="_blank" href="https://www.linkedin.com/in/mehulbatra08/">Contact</a></button>
    </div>
</body>
</html>